#logo
{
    width: 140px;
    height: 35px;
}

.card-img-top#logo
{
    display: flex;
    margin: auto;
}

#section-event
{
    background-image: url("images/background.png"); 
    background-repeat:no-repeat; 
    background-size:100%
}