#logo {
    width: 140px;
    height: 35px;
}

.card-img-top#logo {
    display: flex;
    margin: auto;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-top: 15px;
    height: 100%;
    border-radius: 20px !important;
    background-color: #2c2c2c !important;
    border-bottom: 7px solid #6D83F2 !important;
    box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.16);
    transition: all 0.3s ease-out;
    transform: translateZ(0);
}

.card:hover {
    transform: translate3d(0px, -0.25rem, 0px);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.32);
}

#section-event {
    /* background-image: url("images/background.png"); */
    background-color: #1c1c1c;
    background-repeat: no-repeat;
    background-size: 100%
}

/* start of Calendar */
.main {
    width: 90%;
    margin: auto;
    display: flex;
}

.calendar {
    width: 70%;
}

.calendar-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(202, 0, 0);
    color: white;
    box-shadow: -3px 5px 5px gray;
    border-radius: 10px 10px 0 0;
    height: 12%;
}

.month-picker {
    font-size: 40px;
    margin: 0 1%;
    cursor: pointer;
}

.month-picker:hover {
    color: rgb(151, 151, 151);
}

.year-picker {
    font-size: 40px;
    margin: 0 1%;
    cursor: pointer;
}

.year-picker:hover {
    color: rgb(151, 151, 151);
}

.month-change {
    font-size: 40px;
    margin: 0 1%;
    cursor: pointer;
    position: fixed;
}

#prev-month {
    left: 15%;
}

#next-month {
    left: 54%;
}

.month-change:hover {
    color: rgb(151, 151, 151);
}

.calendar-body {
    background-color: bisque;
    padding: 1% 5%;
    font-size: 25px;
    position: relative;
    min-height: 430px;
    box-shadow: -3px 5px 5px gray;
    border-radius: 0 0 10px 10px;
}

.calendar-week-day {
    display: grid;
    grid-template-columns: repeat(7, auto);
    place-items: center;
}

.calendar-week-day div {
    display: grid;
    border: 2px solid transparent;
    width: 50px;
    height: 50px;
    place-items: center;
}

.calendar-day {
    display: grid;
    grid-template-columns: repeat(7, auto);
    cursor: pointer;
    place-items: center;
    margin-top: 1%;
}

.calendar-day div {
    margin: 2% 0;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid transparent;
}

.calendar-day div:hover {
    background-color: white;
    border: 2px solid gray;
}

.calendar-day div.curr-date {
    background-color: red;
    color: white;
    border-radius: 50%;
}

.month-list {
    display: grid;
    grid-template-columns: repeat(4, auto);
    place-items: center;
    transform: scale(0.5);
    visibility: hidden;
    transition: all 0.3s ease-out;
    cursor: pointer;
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: bisque;
}

.month-list div {
    border: 2px solid transparent;
}

.month-list div:hover {
    color: rgb(151, 151, 151);
    border-bottom: 2px solid rgb(151, 151, 151);
    border-top: 2px solid rgb(151, 151, 151);
}

.year-list {
    display: grid;
    grid-template-columns: repeat(5, auto);
    place-items: center;
    transform: scale(0.5);
    visibility: hidden;
    transition: all 0.3s ease-out;
    cursor: pointer;
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: bisque;
}

.year-list div {
    border: 2px solid transparent;
}

.year-list div:hover {
    color: rgb(151, 151, 151);
    border-bottom: 2px solid rgb(151, 151, 151);
    border-top: 2px solid rgb(151, 151, 151);
}

.show {
    transform: scale(1);
    visibility: visible;
    pointer-events: visible;
    transition: all 0.3s ease-in-out;
}

.none-pointer-event {
    pointer-events: none;
}

.chosen-date {
    background-color: white;
}

.note {
    width: calc(30% - 2px);
    border-left: 2px solid white;
}

.note-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(202, 0, 0);
    color: white;
    box-shadow: 3px 5px 5px gray;
    border-radius: 10px 10px 0 0;
    height: 12%;
}

.note-body #mem-note {
    object-fit: cover;
    height: 55px;
    width: 55px;
    position: absolute;
    bottom: 5%;
}

.note-body #pen {
    object-fit: fill;
    height: 55px;
    width: 15px;
    position: absolute;
    bottom: 5%;
    left: 20%;
}

.note-body {
    background-color: bisque;
    padding: 2% 5%;
    font-size: 25px;
    position: relative;
    min-height: 430px;
    box-shadow: 3px 5px 5px gray;
    border-radius: 0 0 10px 10px;
    height: 88%;
}

.note-date {
    display: grid;
    border: 2px solid transparent;
    width: 100%;
    height: 50px;
    place-items: center;
    border: 2px solid gray;
    cursor: pointer;
}

.note-date:hover {
    color: rgb(151, 151, 151);
}

.note-content {
    margin-top: 3.5%;
    border: 2px solid gray;
    height: 65%;
}

.note-content form {
    height: 100%;
}

.note-content textarea {
    height: 100%;
    width: 100%;
    background-color: bisque;
    resize: none;
    outline: none;
}

.note-content input {
    background-color: brown;
    padding: 1% 4%;
    border-radius: 10px;
    color: white;
    position: absolute;
    right: 5%;
    bottom: 5%;
}

.note-content input:hover {
    color: rgb(151, 151, 151);
}

/* end of Calendar */