<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CTFGames - Cybersecurity Competition</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/style.css' %}?{% now " U" %}">
    <link rel="stylesheet" href="{% static 'main/community.css' %}?{% now " U" %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'main/logo-black.png' %}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>
    {% include 'navbar.html' %}
    {% block content %}

    <div class="community-container">
        <div>
            <h3>Browse Topics</h3>
            <hr>

            <div>
                <a href="{% url 'community' %}">All</a>
            </div>

            {% for topic in topics %}
                <div>
                    <a href="{% url 'community' %}?q={{topic.name}}">{{topic.name}}</a>
                </div>
            {% endfor %}
        </div>

        <div>
            <h5>{{post_count}} posts have published.</h5>
            <a href="{% url 'create-post' %}">Create New Post</a>

            <div>
                {% for post in posts %}
                <div>
                    <a href="{% url 'update-post' post.id %}">Edit</a>
                    <a href="{% url 'delete-post' post.id %}">Delete</a>
                    <span>@{{post.author.username}}</span>
                    <h3>
                        {{post.id}} -- <a href="{% url 'post' post.id %}">{{post.title}}</a>
                    </h3>
                    <small>{{post.topic.name}}</small>
                    <hr>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% endblock content %}
    {% include 'footer.html' %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>

</html>