{% if post_pagin.has_other_pages %}
<div class="pagination">
    <ul class="container">
        {% if post_pagin.has_previous %}
        <li><a class="btn page-link" href="?page=1">&laquo; First</a></li>
        <li><a class="btn page-link" href="?page={{ post_pagin.previous_page_number }}">Previous</a></li>
        {% endif %}

        <li>
            <span class="btn page-link">
                Page {{ post_pagin.number }} of {{ post_pagin.paginator.num_pages }}
            </span>
        </li>

        {% if post_pagin.has_next %}
        <li><a class="btn page-link" href="?page={{ post_pagin.next_page_number }}">Next</a></li>
        <li><a class="btn page-link" href="?page={{ post_pagin.paginator.num_pages }}">Last &raquo;</a></li>
        {% endif %}
    </ul>
</div>
{% endif %}