<div class="pagination">
    <ul class="container">
        {% if post_pagin.has_previous %}
        <li><a class="btn page-link" href="?page=1">&laquo; First</a></li>
        <li><a class="btn page-link" href="?page={{ post_pagin.previous_page_number }}">Previous</a></li>
        {% endif %}

        <li>
            <span class="btn page-link">
                Page {{ post_pagin.number }} of {{ post_pagin.paginator.num_pages }}
            </span>
        </li>

        {% if post_pagin.has_next %}
        <li><a class="btn page-link" href="?page={{ post_pagin.next_page_number }}">Next</a></li>
        <li><a class="btn page-link" href="?page={{ post_pagin.paginator.num_pages }}">Last &raquo;</a></li>
        {% endif %}
    </ul>
</div>

<!-- <div class="pagination">
    {% if post_pagin.has_other_pages %}
    <ul class="container">
        {% if post_pagin.has_previous %}
        <li><a class="btn page-link" href="?page={{ post_pagin.previous_page_number }}">&laquo;</a></li>
        {% else %}
        <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in post_pagin.paginator.page_range %}
        {% if post_pagin.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
        <li><a class="btn page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}
        {% if post_pagin.has_next %}
        <li><a class="btn page-link" href="?page={{ post_pagin.next_page_number }}">&raquo;</a></li>
        {% else %}
        <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
    </ul>
    {% endif %}
</div> -->