<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CTFGames - Cybersecurity Competition</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'main/logo-black.png' %}" />
</head>

<body>
    {% include 'navbar.html' %}
    {% block content %}

    <div style="min-height: 100vh;">

        <div>
            <div class="chart-title">
                <h1 id="upcoming">Topics Analysis</h1>
                <p><i>Compare the number of posts or challenges for each topic.</i></p>
            </div>
            <div class="radar-container">
                <canvas id="radarChart"></canvas>
            </div>
        </div>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
    <script>

        new Chart(document.getElementById('radarChart').getContext('2d'), {
            type: 'radar',
            data: {
            
                labels: [{% for topic in topics %}'{{topic}}',{% endfor %}],
                datasets: [
                    {
                        label: 'Challenges',
                        data: [{% for value in data_challenge %}'{{value}}',{% endfor %}],
                        fill: true,
                        backgroundColor: 'rgba(255, 99, 132, 0.2)',
                        borderColor: 'rgb(255, 99, 132)',
                        pointBackgroundColor: 'rgb(255, 99, 132)',
                        pointBorderColor: '#fff',
                        pointHoverBackgroundColor: '#fff',
                        pointHoverBorderColor: 'rgb(255, 99, 132)'
                    },
                    {
                        label: 'Community Posts',
                        data: [{% for value in data_post %}'{{value}}',{% endfor %}],
                        fill: true,
                        backgroundColor: 'rgba(54, 162, 235, 0.2)',
                        borderColor: 'rgb(54, 162, 235)',
                        pointBackgroundColor: 'rgb(54, 162, 235)',
                        pointBorderColor: '#fff',
                        pointHoverBackgroundColor: '#fff',
                        pointHoverBorderColor: 'rgb(54, 162, 235)'
                    }]
            },
            options: {
                elements: {
                    line: {
                        borderWidth: 3
                    }
                },
            },
        }
        );


    </script>


    {% endblock content %}
    {% include 'footer.html' %}
</body>

</html>