<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CTFGames - Cybersecurity Competition</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'main/challenge.css' %}?{% now " U" %}">
  <link rel="shortcut icon" type="image/png" href="{% static 'main/logo-black.png' %}" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body class="d-flex flex-column min-vh-100">
  {% include 'navbar.html' %}
  {% block content %}
  {% csrf_token %}
  {% load filename %}

  <div class="container text-center">
    <div class="h1 mx-auto">{{challenge.name}}</div>
    <div class="h3 mx-auto">Score: {{score}}</div>
  </div>

  <div class="row container">
    {% for quizz in quizzes %}
    <div class="col-2 m-2 text-center">
      {% if completed|index:quizz.id == "yes" %}
      <div data-toggle="modal" data-target="#myModal" class="card clickable-element" onclick="_id={{quizz.id}}">
        <div class="card-title border-bottom">{{quizz.name}}</div>
        <div class="card-body">
          Points: {{quizz.point}}
        </div>
      </div>

      <div style="color: yellow;" id="check">
        Completed <span class="glyphicon glyphicon-ok"></span>
      </div>
      {% if status|index:quizz.id == "True" %}
      <div style="color: green;">
        True <span class="glyphicon glyphicon-ok"></span>
      </div>
      {% else %}
      <div style="color: red;">
        False <span class="glyphicon glyphicon-remove"></span>
      </div>
      {% endif %}
      {% else %}
      <div onclick="location.href='{% url 'play_challenge_quizz' challenge.id quizz.id %}'"
        class="card clickable-element">
        <div class="card-title border-bottom">{{quizz.name}}</div>
        <div class="card-body">
          Points: {{quizz.point}}
        </div>
      </div>
      <div>
        <br>
      </div>
      {% endif %}
    </div>

    {% endfor %}
  </div>



  <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content text-light" style="background-color:#212529">
        <div class="modal-header row border-0">
          <h4 class="modal-title col-5">Confirmation</h4>
          <button type="button" class="close col-5 text-end" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body border-0">
          <p style="color: yellow;">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
              class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img"
              aria-label="Warning:">
              <path
                d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
            </svg>
            WARNING <br>
            If you want to try again, only 75% of points are earned for this quiz!
          </p>
        </div>
        <div class="modal-footer border-0">
          <button type="button" class="btn text-light bg-transparent" data-dismiss="modal">Cancel</button>
          <button type="button" onclick="redirecting()" class="btn text-light" style="background-color: #696d97;"
            data-dismiss="modal">OK & Continue</button>
        </div>
      </div>

    </div>
  </div>


  {% endblock content %}
  {% include 'footer.html' %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
  <script type="text/javascript">
    var _id = 0
    function redirecting() {
      location.href = '{% url 'play_challenge_quizz' challenge.id 123 %}'.replace(/123/, _id.toString())
    }
  </script>
</body>

</html>