<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CTFGames - Cybersecurity Competition</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/style.css' %}?{% now " U" %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'main/logo-black.png' %}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>
    {% include 'navbar.html' %}
    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
        {% endfor %}
        </ul>
    {% endif %}
    {% block content %}
    <div style="min-height:100vh;">
        <div class="main">
            <div class="calendar">
                <div class="calendar-header">
                    <!-- <span class="month-change" id="prev-month"><</span>
                    <span class="month-picker" id="month-picker">February</span>
                    <span class="year-picker" id="year-picker">2022</span>
                    <span class="month-change" id="next-month">></span> -->
                    <ul id="calendar__header">
                        <li class="month-change" id="prev-month" style="padding-right: 2rem;">&#10092;</li>
                        <li class="month-picker" id="month-picker">February</li>
                        <li class="year-picker" id="year-picker">2022</li>
                        <li class="month-change" id="next-month">&#10093;</li>
                    </ul>
                </div>
                <div class="calendar-body">
                    <div class="calendar-week-day">
                        <div>Mo</div>
                        <div>Tu</div>
                        <div>We</div>
                        <div>Th</div>
                        <div>Fr</div>
                        <div>Sa</div>
                        <div>Su</div>
                    </div>
                    <div class="calendar-day"></div>
                    <div class="month-list"></div>
                    <div class="year-list"></div>
                </div>
            </div>
            <div class="note">
                <div class="note-header">
                    <span class="month-picker">NOTE</span>
                </div>
                <div class="note-body">
                    <div class="note-date"></div>
                    <div class="note-content">
                        <form method="POST">
                            {% csrf_token %}
                            <textarea hidden id="form-note-date" name="note_date"></textarea>
                            <textarea id="note-text" name="note_content" placeholder="Write down some note..."></textarea>
                            <textarea readonly="true" id="system-note"></textarea>
                            <input type="submit" value="Save">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}
    {% include 'footer.html' %}
    <script>
        let calendar = document.querySelector('.calendar')

        const month_names = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

        isLeapYear = (year) => {
            return (year % 4 == 0 && year % 100 != 0 && year % 400 != 0) || (year % 100 == 0 && year % 400 == 0)
        }

        getFebDays = (year) => {
            return isLeapYear(year) ? 29 : 28
        }

        let last_chosen_day = -1

        generateCalendar = (month, year) => {
            let calendar_day = calendar.querySelector('.calendar-day')

            let days_of_month = [31, getFebDays(year), 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

            calendar_day.innerHTML = ''

            let currDate = new Date()

            let curr_month_name = `${month_names[month]}`
            month_picker.innerHTML = curr_month_name
            year_picker.innerHTML = year

            let first_day = new Date(year, month, 1).getDay()
            if (first_day == 0) { first_day = 7 }

            let key = "y" + curr_year + "m" + (curr_month + 1)

            for (let i = 0; i <= days_of_month[month] + first_day - 2; i++) {
                let day = document.createElement('div')
                if (i >= first_day - 1) {
                    day.classList.add('calendar-day-hover')
                    day.classList.add('c' + `${i - first_day + 2}`)
                    day.innerHTML = i - first_day + 2
                    if (i - first_day + 2 == currDate.getDate() && year == currDate.getFullYear() && month == currDate.getMonth()) {
                        day.classList.add('curr-date')
                        if (note_date.innerHTML == day.innerHTML + "/" + (curr_month + 1) + "/" + curr_year) 
                            try {
                                if (data[key]["d" + day.innerHTML] != null)
                                    document.getElementById("note-text").innerHTML = data[key]["d" + day.innerHTML]
                            } catch (err) {}
                    }
                    if (data[key] != null && data[key]["d" + day.innerHTML] != null) 
                        day.classList.add('day-have-note')

                    day.onclick = () => {
                        let date = day.innerHTML + "/" + (curr_month + 1) + "/" + curr_year
                        note_date.innerHTML = date
                        form_note_date.innerHTML = note_date.innerHTML

                        if (day.classList.contains('day-have-note')) 
                            try {
                                document.getElementById("note-text").innerHTML = data[key]["d" + day.innerHTML]
                            } catch (err) {}
                        else
                            document.getElementById("note-text").innerHTML = null

                        if (last_chosen_day != -1) {
                            calendar.querySelector('.c' + last_chosen_day).classList.remove('chosen-date')
                        }
                        last_chosen_day = day.innerHTML
                        calendar.querySelector('.c' + day.innerHTML).classList.add('chosen-date')
                    }
                } else {
                    day.classList.add('none-pointer-event')
                }
                calendar_day.appendChild(day)
            }

            last_chosen_day = -1
        }

        let data = ''
        let str_data = "{{data_note|escapejs}}"
        if (str_data != '') {
            try {
                data = JSON.parse(str_data)
            } catch (err) {}
        }

        let today = new Date()
        let curr_month = today.getMonth()
        let curr_year = today.getFullYear()
        let note_date = document.querySelector('.note-date')
        note_date.innerHTML = today.getDate() + "/" + (curr_month + 1) + "/" + curr_year

        let form_note_date = document.getElementById('form-note-date')
        form_note_date.innerHTML = note_date.innerHTML
        let year_list = document.querySelector('.year-list')
        let ten_years = []

        let month_list = calendar.querySelector('.month-list')
        let month_picker = calendar.querySelector('#month-picker')
        let year_picker = calendar.querySelector('#year-picker')

        generateCalendar(curr_month, curr_year)

        month_picker.onclick = () => {
            if (curr_year == today.getFullYear()) 
                month_list.querySelector('div:nth-child(' + (today.getMonth() + 1) + ')').classList.add('curr-month')
            else 
                month_list.querySelector('div:nth-child(' + (today.getMonth() + 1) + ')').classList.remove('curr-month')
            if (!month_list.classList.contains('show')) {
                month_list.classList.add('show')
                year_list.classList.remove('show')
            } else {
                month_list.classList.remove('show')
            }
        }

        month_names.forEach((e, index) => {
            let month = document.createElement('div')
            month.innerHTML = `<p>${e}</p>`
            month.onclick = () => {
                month_list.classList.remove('show')
                curr_month = index
                generateCalendar(curr_month, curr_year)
            }
            month_list.appendChild(month)
        })

        generateTenYears = (year) => {
            for (let i = 0; i < 10; i++) {
                ten_years[i] = year - (year % 10) + i;
            }
            year_list.innerHTML = ''
            ten_years.forEach((e, index) => {
                let year = document.createElement('div')
                year.innerHTML = `<p>${e}</p>`
                if (e == today.getFullYear())
                    year.classList.add('curr-year')
                year.onclick = () => {
                    year_list.classList.remove('show')
                    curr_year = e
                    generateCalendar(curr_month, curr_year)
                }
                year_list.appendChild(year)
            })
        }

        year_picker.onclick = () => {
            generateTenYears(curr_year)
            if (!year_list.classList.contains('show')) {
                year_list.classList.add('show')
                month_list.classList.remove('show')
            } else {
                year_list.classList.remove('show')
            }
        }

        document.querySelector('#prev-month').onclick = () => {
            --curr_month
            if (curr_month == -1) {
                curr_month = 11
                --curr_year
                if (curr_year % 10 == 9) {
                    generateTenYears(curr_year)
                }
            }
            generateCalendar(curr_month, curr_year)
        }

        document.querySelector('#next-month').onclick = () => {
            ++curr_month
            if (curr_month == 12) {
                curr_month = 0
                ++curr_year
                if (curr_year % 10 == 0) {
                    generateTenYears(curr_year)
                }
            }
            generateCalendar(curr_month, curr_year)
        }

        note_date.onclick = () => {
            let temp = note_date.innerHTML
            date = temp.split('/')
            if (curr_year != date[2] || curr_month != date[1] - 1) {
                curr_month = date[1] - 1
                curr_year = date[2]
                generateCalendar(curr_month, curr_year)
            }

            if (last_chosen_day != -1) {
                calendar.querySelector('.c' + last_chosen_day).classList.remove('chosen-date')
            }
            last_chosen_day = date[0]
            calendar.querySelector('.c' + date[0]).classList.add('chosen-date')

            year_list.classList.remove('show')
            month_list.classList.remove('show')
        }

        note_date.addEventListener('wheel', function (e) {
            let temp = note_date.innerHTML
            date = temp.split('/')
            let new_date = new Date(date[2], date[1] - 1, date[0])

            // wheel up midle mouse
            if (e.deltaY < 0) {
                new_date.setDate(new_date.getDate() + 1);
                date[0] = new_date.getDate();
                date[1] = new_date.getMonth() + 1;
                date[2] = new_date.getFullYear();
                note_date.innerHTML = date[0] + '/' + date[1] + '/' + date[2]
            }

            // wheel down midle mouse
            else if (e.deltaY > 0) {
                new_date.setDate(new_date.getDate() - 1);
                date[0] = new_date.getDate();
                date[1] = new_date.getMonth() + 1;
                date[2] = new_date.getFullYear();
                note_date.innerHTML = date[0] + '/' + date[1] + '/' + date[2]
            }

            form_note_date.innerHTML = note_date.innerHTML

            // regenerate new calendar match date in note_date
            if (curr_month != date[1] - 1 || curr_year != date[2]) {
                curr_month = date[1] - 1
                curr_year = date[2]
                generateCalendar(curr_month, curr_year)
            }

            // move the calendar day box
            if (last_chosen_day != -1) {
                calendar.querySelector('.c' + last_chosen_day).classList.remove('chosen-date')
            }
            last_chosen_day = date[0]
            calendar.querySelector('.c' + date[0]).classList.add('chosen-date')
        })
    </script>
</body>

</html>