<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CTF Game</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'main/style.css' %}?{% now " U" %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>
  {% include 'navbar.html' %}
  {% block content %}

  <!-- Start of Events -->
  <section class="text-light p-5 bg-dark" id="section-event">
    <div>
      <h1>Upcoming Events</h1>
    </div>
    <div class="container p-4">
      <div class="row text-center">

        <div class="col-lg-4 my-2">
          <div class="card bg-transparent border-danger text-light">
            <h5 class="card-title">International CTF Challenge</h5>
            {% load static %}
            <image src="{% static 'main/logo.png' %}" alt="Challenges Logo" class="card-img-top mx-auto my-3" id="logo">
              <div class="card-body text-start">
                <p class="card-text">
                  <b> Oganized by: </b> CTF International <br>
                  <b> Start: </b> 10-10-2022 <br>
                  <b> End: </b> 31-12-2022
                  <br><br>
                  If you've ever dreamed about winning a challenge such as the one I'm about to create, then you've seen
                  the "I am the player." One of the great wonders in the world of video gaming is that it can challenge
                  everyone.
                </p>
              </div>
          </div>
        </div>

        <div class="col-lg-4 my-2">
          <div class="card bg-transparent border-danger text-light">
            <h5 class="card-title">International CTF Challenge</h5>
            {% load static %}
            <image src="{% static 'main/logo.png' %}" alt="Challenges Logo" class="card-img-top mx-auto my-3" id="logo">
              <div class="card-body text-start">
                <p class="card-text">
                  <b> Oganized by: </b> CTF International <br>
                  <b> Start: </b> 10-10-2022 <br>
                  <b> End: </b> 31-12-2022
                  <br><br>
                  If you've ever dreamed about winning a challenge such as the one I'm about to create, then you've seen
                  the "I am the player." One of the great wonders in the world of video gaming is that it can challenge
                  everyone.
                </p>
              </div>
          </div>
        </div>

        <div class="col-lg-4 my-2">
          <div class="card bg-transparent border-danger text-light">
            <h5 class="card-title">International CTF Challenge</h5>
            {% load static %}
            <image src="{% static 'main/logo.png' %}" alt="Challenges Logo" class="card-img-top mx-auto my-3" id="logo">
              <div class="card-body text-start">
                <p class="card-text">
                  <b> Oganized by: </b> CTF International <br>
                  <b> Start: </b> 10-10-2022 <br>
                  <b> End: </b> 31-12-2022
                  <br><br>
                  If you've ever dreamed about winning a challenge such as the one I'm about to create, then you've seen
                  the "I am the player." One of the great wonders in the world of video gaming is that it can challenge
                  everyone.
                </p>
              </div>
          </div>
        </div>

        <div class="col-lg-4 my-2">
          <div class="card bg-transparent border-danger text-light">
            <h5 class="card-title">International CTF Challenge</h5>
            {% load static %}
            <image src="{% static 'main/logo.png' %}" alt="Challenges Logo" class="card-img-top mx-auto my-3" id="logo">
              <div class="card-body text-start">
                <p class="card-text">
                  <b> Oganized by: </b> CTF International <br>
                  <b> Start: </b> 10-10-2022 <br>
                  <b> End: </b> 31-12-2022
                  <br><br>
                  If you've ever dreamed about winning a challenge such as the one I'm about to create, then you've seen
                  the "I am the player." One of the great wonders in the world of video gaming is that it can challenge
                  everyone.
                </p>
              </div>
          </div>
        </div>

        <div class="col-lg-4 my-2">
          <div class="card bg-transparent border-danger text-light">
            <h5 class="card-title">International CTF Challenge</h5>
            {% load static %}
            <image src="{% static 'main/logo.png' %}" alt="Challenges Logo" class="card-img-top mx-auto my-3" id="logo">
              <div class="card-body text-start">
                <p class="card-text">
                  <b> Oganized by: </b> CTF International <br>
                  <b> Start: </b> 10-10-2022 <br>
                  <b> End: </b> 31-12-2022
                  <br><br>
                  If you've ever dreamed about winning a challenge such as the one I'm about to create, then you've seen
                  the "I am the player." One of the great wonders in the world of video gaming is that it can challenge
                  everyone.
                </p>
              </div>
          </div>
        </div>

        <div class="col-lg-4 my-2">
          <div class="card bg-transparent border-danger text-light">
            <h5 class="card-title">International CTF Challenge</h5>
            {% load static %}
            <image src="{% static 'main/logo.png' %}" alt="Challenges Logo" class="card-img-top mx-auto my-3" id="logo">
              <div class="card-body text-start">
                <p class="card-text">
                  <b> Oganized by: </b> CTF International <br>
                  <b> Start: </b> 10-10-2022 <br>
                  <b> End: </b> 31-12-2022
                  <br><br>
                  If you've ever dreamed about winning a challenge such as the one I'm about to create, then you've seen
                  the "I am the player." One of the great wonders in the world of video gaming is that it can challenge
                  everyone.
                </p>
              </div>
          </div>
        </div>


      </div>
    </div>
  </section>
  <!-- End of Events -->

  {% endblock content %}
  {% include 'footer.html' %}

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
</body>

</html>